.btn-nav{
        a{
        all: unset;
        border-radius: 3em;
        // border: solid #D500F9 2px;
        border: 1px solid #d7a4de;
        box-shadow: 2px 3px#ac84b1;
        color: #fff;
        cursor: pointer;
        padding: 0.5em 1em;
        margin-right: 0.5em;
        }
      
        a:hover {
        color: #fff;
        background-image: linear-gradient(to right, #d400f960, #ffd64f64);
        }
        
}
       